@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

:root {
  --main-color: #e5e9f6;
  --secondary-color: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background-color: var(--main-color);
  overflow-x: hidden;

}


li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1rem;
  }
  
  .navbar .links a:hover {
    color: goldenrod;
    transition: ease-in 0.3s;
  }
  .navbar .links .active {
    color: goldenrod;
  }
  header {
    position: relative;
    padding: 0 2rem;
  }
  
  .navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar .logo a {
    font-size: 1.9rem;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
  }
  
  .navbar .logo i {
    padding-right: 5px;
  }
  
  .navbar .links {
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    gap: 5rem;
  }
  
  .navbar .toggle_btn {
    color: var(--secondary-color);
    font-size: 2rem;
    cursor: pointer;
    display: none;
  }
  
  .join_us {
    padding-right: 1rem;
    font-weight: 500;
  }
  
  .action_btn {
    background-color: var(--secondary-color);
    color: var(--main-color);
    padding: 0.5rem 2rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .action_btn:hover {
    transition: ease-in 0.3s;
    background: goldenrod;
  }
  
  
  
  /* DROPDOWN MENU */
  .dropdown_menu {
    display: none;
    position: relative;
    top: 60px;
    height: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .dropdown_menu.open {
    height: 240px;
  }
  
  .dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  /* RESPONSIVE DESIGN */
  
  
  @media(max-width: 1024px) {
  
    .navbar .links,
    .navbar .action_btn,
    .navbar .join_us {
      display: none;
    }
  
    .navbar .toggle_btn {
      display: block;
    }
  
    .dropdown_menu {
      display: block;
    }
  }
  
  
  
.container-snook {
    /* background-color: #dcdee6d2; */
    height: auto;
    padding: 20px;
    margin-left: 40px;
    margin-top: 50px;
    margin-right: 40px;
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
  
  .container-snook img {
    height: auto;
    margin-top: 50px;
  }
  
  .snook-text {
    width: 80%;
    /* margin-top: 100px; */
  }

  
  .snook-text h1 {
    font-size: 2rem;
    margin-bottom: 12px;
    color: var(--secondary-color);
  }
  
  .snook-text p {
    margin-top: 25px;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 12px;
  }
  
  
  /* Media queries */
  @media (max-width: 1377px) {
    .snook-text h1 {
      font-size: 2rem;
    }
  }
  
  @media(max-width: 1190px) {
    .container-snook img {
      width: 50%;
    }
  }
  
  @media (max-width: 992px) {
    .container-snook {
      margin-top: 50px;
      flex-direction: column;
    }
  
    .snook-text {
      width: 100%;
      text-align: center;
    }
  
    .snook-text h1 {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 678px) {
    .snook-text h1 {
      font-size: 2rem;
    }
  }



 
  
  .container-founder {
    background-color: #dcdee6d2;
    border-radius: 15px;
    /* height: 600px; */
    padding: 20px;
    margin-left: 40px;
    margin-top: 50px;
    margin-right: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
  
  .container-founder img {
    border-radius: 50%;
    height: auto;
    margin-right: 50px;
  }
  
  .founder-text {
    width: 50%;
    text-align: center;
    /* margin-top: 100px; */
  }

  
  .founder-text h1 {
    font-size: 2rem;
    margin-bottom: 12px;
    color: var(--secondary-color);
  }
  
  .founder-text p {
    margin-top: 25px;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 12px;
  }
  
  
  /* Media queries */
  @media (max-width: 1377px) {
    .founder-text h1 {
      font-size: 2rem;
    }
  }
  
  @media(max-width: 1190px) {
    .container-founder img {
      width: 50%;
    }
  }
  
  @media (max-width: 992px) {
    .container-founder {
      flex-direction: column;
    }
  
    .founder-text {
      width: 75%;
      text-align: center;
    }
  
    .founder-text h1 {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 678px) {
    .founder-text h1 {
      font-size: 2rem;
    }
  }



  .container-co-founder {
    background-color: #dcdee6d2;
    border-radius: 15px;
    /* height: 600px; */
    padding: 20px;
    margin-left: 40px;
    margin-top: 120px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
  
  .container-co-founder img {
    border-radius: 50%;
    height: 500px;
    margin-right: 50px;
  }
  
  .co-founder-text {
    width: 50%;
    text-align: center;
    /* margin-top: 100px; */
  }

  
  .co-founder-text h1 {
    font-size: 2rem;
    margin-bottom: 12px;
    color: var(--secondary-color);
  }
  
  .co-founder-text p {
    margin-top: 25px;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 12px;
  }
  
  
  /* Media queries */
  @media (max-width: 1377px) {
    .co-founder-text h1 {
      font-size: 2rem;
    }
  }
  
  @media(max-width: 1190px) {
    .container-co-founder img {
      width: 50%;
    }
  }
  
  @media (max-width: 992px) {
    .container-co-founder {
      flex-direction: column-reverse;
    }
  
    .co-founder-text {
      width: 75%;
      text-align: center;
    }
  
    .co-founder-text h1 {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 678px) {
    .co-founder-text h1 {
      font-size: 2rem;
    }
  }
 .social-icons {
    margin-top: 25px;
  }
   .social-icons a {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #8f9296;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    margin-right: 10px;
    margin-bottom: 5px;
  } .social-icons a:hover {
    background-color: goldenrod;
  }



  
.container-about {
    /* background-color: #dcdee6d2; */
    height: 600px;
    padding: 20px;
    margin-left: 40px;
    margin-top: 50px;
    margin-right: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  
  .container-about img {
    height: 500px;
    margin-top: 50px;
  }
  
  .about-text {
    width: 80%;
    margin-top: 100px;
  
  }
  
  .about-text h1 {
    font-size: 3rem;
    margin-bottom: 12px;
    color: var(--secondary-color);
  }
  
  .about-text p {
    margin-top: 100px;
    font-size: 1.2rem;
    margin-bottom: 12px;
  }
  
  
  /* Media queries */
  @media (max-width: 1377px) {
    .about-text h1 {
      font-size: 2rem;
    }
  }
  
  @media(max-width: 1190px) {
    .container-about img {
      width: 50%;
    }
  }
  
  @media (max-width: 992px) {
    .container-about {
      margin-top: 500px;
      flex-direction: column-reverse;
    }
  
    .about-text {
      width: 100%;
      text-align: center;
    }
  
    .about-text h1 {
      font-size: 3rem;
    }
  }
  
  @media (max-width: 678px) {
    .about-text h1 {
      font-size: 2rem;
    }
  }
  
  .team {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .team h1 {
    font-size: 3rem;
    font-weight: normal;
    font-family: 'Roboto Condensed', sans-serif;
  }

footer {
    bottom: 0;
  }
  
  .footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left {
    width: 30%;
  }
  
  .footer-distributed h3 {
    color: #e5e9f6;
    font-size: 2rem;
    font-weight: normal;
  }
  
  
  .footer-distributed h3 span {
    color: #e0ac1c;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links {
    color: #ffffff;
    margin: 35px 0 50px;
  }
  
  .footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    margin: 0 10px;
    font-weight: normal;
  }
  
  .footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center {
    width: 35%;
  }
  
  .footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  
  .footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right {
    width: 30%;
  }
  
  .footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-company-about .mail {
    color: var(--main-color);
    font-size: 1rem;
  }
  
  .footer-distributed .footer-company-about .mail:hover {
    text-decoration: underline;
  }
  
  .footer-distributed .footer-company-about .mail-text {
    font-size: 1rem;
    font-weight: normal;
  }
  
  .footer-distributed .footer-company-about .reach-text {
    font-size: 1rem;
    font-weight: normal;
    margin-top: 10px;
  }
  
  .footer-distributed .footer-icons {
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    margin-right: 10px;
    margin-bottom: 5px;
  }
  
  .footer-distributed .footer-icons a:hover {
    background-color: goldenrod;
  }
  
  .footer-links a:hover {
    color: goldenrod;
  }
  
  @media (max-width: 880px) {
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .footer-distributed .footer-center i {
      margin-left: 0;
    }
  }